# Compiled
target/
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Env
.env
.env.local

# ShakeForSpeed-v1-backup/
ShakeForSpeed-v1-backup/

# Spec
.spec/
