server:
  port: 9999

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        # 主服务路由
        - id: main-service
          uri: http://119.91.238.231:8002
          predicates:
            - Path=/main/**
          filters:
            - StripPrefix=1
        # 排名服务路由 (HTTP API)
        - id: rank-service
          uri: http://119.91.238.231:8003
          predicates:
            - Path=/rank/**
          filters:
            - StripPrefix=1
      # 默认过滤器
      default-filters:
        - name: Retry
          args:
            retries: 3
            methods: GET,POST

# JWT配置
jwt:
  secret: 111
  expire: 1000000000

# 日志配置
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"

